@media (min-width: 1025px){
    .about-grid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px 20px;
        grid-template-areas: "title picture";
    }
    .title { 
        grid-area: title;
        justify-self: left;
        align-self: center;
    }
    .picture { 
        grid-area: picture;
        justify-self: center;
        align-self: center;
    }
}
@media (min-width: 320px) and (max-width: 1024px) {
    .about-grid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px 20px;
        grid-template-areas: "picture" "title";
    }
    .title { 
        grid-area: title;
        justify-self: center;
        align-self: start;
    }
    .picture { 
        grid-area: picture;
        justify-self: center;
        align-self: start;
    }
    
}


.picture > img {
    object-fit: fill;
    width: 100%;
}

.title > h4 {
    color: grey;
}

.title > h1 {
    font-family: Merriweather;
}
