<div class="about-grid">
  <div class="title">
    <h1>About me</h1>
    <h4>
      My name is Stewart Thomson, I'm a 3rd year Computer Science student at the University of Guelph.
      This webpage will host my CO-OP workplace reviews as I complete them for the length of my time at the University.
      <br>
      Click the menu button at the top left, or <button mat-mini-fab color="primary" (click)="openNav()">here</button> to access my reviews.
    </h4>
  </div>
  <div class="picture">
    <img src="assets/bigfella.jpg">
  </div>
</div>